.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;

}

.waveCount {
  font-family: "Your Cool Font", sans-serif; /* Replace "Your Cool Font" with the actual font name or import the font */
  font-size: 1.5rem;
  margin-top: 2rem;
}

.largeButton {
  font-size: 1.2rem;
  padding: 5px 20px;
}

.largeInput {
  font-size: 1rem;
  padding: 5px;
  width: 300px; /* Adjust the width as needed */
}

.metamaskLogo {
  width: 40px; /* Adjust the width */
  height: 40px; /* Adjust the height */
}
/* .metamaskLogo {
  width: 2em; // Adjust the width using em units 
  height: 2em; // Adjust the height using em units 
} */